.reveal {
  color: $clr-text;

  h1, h2, h3, h4, h5, h6 {
    color: $clr-head;
    text-transform: none;
  }

  h1 {
    color: $clr-primary;
  }

  a {
    color: $clr-secondary;
    text-decoration: none;
    border-bottom: 1px dashed;
    transition: 0.5s;

    &:hover {
      background-color: $clr-secondary;
      border-bottom: 1px dashed $clr-bg;
      color: $clr-bg;
    }
  }

  blockquote {
    box-shadow: none;
    border-style: solid;
    border-color: $clr-thirdary;
    border-left-width: 5px;
    padding: 0.8rem 1.6rem;
    text-align: left;
    width: auto;
    font-size: 0.8em;

    p {
      margin: 10px 0;
    }
  }

  .fragment {
    margin: 0.5rem;
  }

  div {
    font-size: 2rem;
  }

  tr {
    border-image: none;
    & + tr {
      border-top: $clr-bg-light 1px solid;
    }
  }

  table td {
    border-bottom: none;
  }

  pre code {
    background: $clr-bg-dark;
    padding: 5px 8px;
    box-shadow: none;
  }

  code {
    color: $clr-primary;
    background-color: $clr-bg-dark;
    padding: 4px 10px;
  }

  li {
    margin-bottom: 12px;
  }

  section {
    text-align: left;

    h2 {
      border-left: 10px solid;
      font-size: 4rem;
      padding-left: 40px;
      color: $clr-primary;
      margin-bottom: 2rem;

      a {
        color: $clr-secondary;
      }
    }

    h3 {
      margin-top: 1.8rem;
    }

    img {
      border: 1px dashed $clr-secondary;
    }
  }

  .home-section {
    text-align: center;
    padding: 260px 0 !important;

    h2 {
      font-size: 2.8rem;
      border-left: none;
      padding-left: 0;
      color: $clr-head;
    }
  }

  .home-author {
    .author {
      font-size: 2.8rem;
      margin-top: 3rem;
    }

    .from {
      margin: 0.5rem 0 0.25rem 0;
    }
  }

  .fragment {
    margin-left: 0;
    margin-right: 0;
  }
}

.fullpage {
  position: absolute;
  right: 0;
  bottom: 0;
}
