body {
  background-color: $clr-bg;
  color: $clr-text;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}



h1, h2, h3, h4, h5, h6 {
  color: $clr-head;
  text-transform: none;
}

h1 {
  color: $clr-primary;
}

h2 {
  a {
    color: $clr-primary;
  }
}

a {
  color: $clr-secondary;
  text-decoration: none;
}

strong {
  color: $clr-thirdary;
}
