<!doctype html>
<html>
    <head>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38205696-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <meta charset="utf-8">

        <title>{{ page.title }}</title>

        <meta name="author" content="Wenli Zhang">

        <!-- Customed styles -->
        <link rel="stylesheet" href="{{ site.url }}/css/theme/ovireen.css" id="theme">
        <link rel="stylesheet" href="{{ site.url }}/css/app.css">

        <!--[if lt IE 9]>
        <script src="{{ site.url }}/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
        {{ content }}
        </div>
    </body>
</html>
